create database [QLSACH]
USE [QLSACH]
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [varchar](10) NOT NULL,
	[TUASACH] [nvarchar](50) NOT NULL,
	[TACGIA] [nvarchar](50) NOT NULL,
	[NHAXUATBAN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SACH] ([MASACH], [TUASACH], [TACGIA], [NHAXUATBAN]) VALUES (N'SH01', N'Lập trình C++', N'Phạm Văn Ất', N'Trẻ')
INSERT [dbo].[SACH] ([MASACH], [TUASACH], [TACGIA], [NHAXUATBAN]) VALUES (N'SH02', N'Nhập môn lập trình', N'Trần Đan Thư', N'KHTN')
