USE [nckh]
GO
/****** Object:  Table [dbo].[CAN_HO]    Script Date: 7/17/2024 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAN_HO](
	[ma_can_ho] [char](10) NOT NULL,
	[dien_tich] [int] NOT NULL,
	[ma_chu_so_huu] [char](10) NULL,
	[khu] [nvarchar](50) NOT NULL,
	[tang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CAN_HO] PRIMARY KEY CLUSTERED 
(
	[ma_can_ho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHU_SO_HUU]    Script Date: 7/17/2024 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHU_SO_HUU](
	[ma_chu_so_huu] [char](10) NOT NULL,
	[ho_ten] [nvarchar](255) NOT NULL,
	[sdt] [nchar](10) NOT NULL,
	[phai] [nchar](10) NOT NULL,
	[ngay_sinh] [date] NOT NULL,
	[cccd] [nchar](12) NOT NULL,
	[ten_dang_nhap] [char](50) NOT NULL,
 CONSTRAINT [PK_CHU_SO_HUU] PRIMARY KEY CLUSTERED 
(
	[ma_chu_so_huu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANG_NHAP]    Script Date: 7/17/2024 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANG_NHAP](
	[ten_dang_nhap] [char](50) NOT NULL,
	[mat_khau] [nchar](50) NOT NULL,
	[ma_quyen] [char](10) NOT NULL,
 CONSTRAINT [PK_DANG_NHAP] PRIMARY KEY CLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICH_VU]    Script Date: 7/17/2024 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICH_VU](
	[ma_dich_vu] [char](10) NOT NULL,
	[ten_dich_vu] [nvarchar](50) NOT NULL,
	[vat] [int] NOT NULL,
	[don_gia] [int] NOT NULL,
	[don_vi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DICH_VU] PRIMARY KEY CLUSTERED 
(
	[ma_dich_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICH_VU_CAN_HO]    Script Date: 7/17/2024 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICH_VU_CAN_HO](
	[ma_dich_vu] [char](10) NOT NULL,
	[ma_can_ho] [char](10) NOT NULL,
	[so_luong] [int] NOT NULL,
	[ngay_bat_dau] [date] NOT NULL,
	[ngay_ket_thuc] [date] NULL,
 CONSTRAINT [PK_DICH_VU_CAN_HO] PRIMARY KEY CLUSTERED 
(
	[ma_dich_vu] ASC,
	[ma_can_ho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 7/17/2024 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[ma_hoa_don] [char](10) NOT NULL,
	[thang] [int] NOT NULL,
	[nam] [int] NOT NULL,
	[ma_can_ho] [char](10) NOT NULL,
	[ma_nhan_vien] [char](10) NOT NULL,
	[ngay_tao] [date] NOT NULL,
	[ngay_dong_tien] [date] NULL,
	[tien_thang] [int] NOT NULL,
	[tien_no] [int] NOT NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[ma_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 7/17/2024 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[ma_nhan_vien] [char](10) NOT NULL,
	[ho_ten] [nvarchar](255) NOT NULL,
	[sdt] [nchar](10) NOT NULL,
	[cccd] [nchar](12) NOT NULL,
	[ngay_sinh] [date] NOT NULL,
	[phai] [nvarchar](10) NOT NULL,
	[ten_dang_nhap] [char](50) NOT NULL,
	[ma_phong_ban] [char](10) NOT NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[ma_nhan_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_BAN]    Script Date: 7/17/2024 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_BAN](
	[ma_phong_ban] [char](10) NOT NULL,
	[ten_phong_ban] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PHONG_BAN] PRIMARY KEY CLUSTERED 
(
	[ma_phong_ban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 7/17/2024 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[ma_quyen] [char](10) NOT NULL,
	[ten_quyen] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[ma_quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CAN_HO] ([ma_can_ho], [dien_tich], [ma_chu_so_huu], [khu], [tang]) VALUES (N'CH1       ', 15, NULL, N'Khu A', N'Tang 1')
INSERT [dbo].[CAN_HO] ([ma_can_ho], [dien_tich], [ma_chu_so_huu], [khu], [tang]) VALUES (N'CH2       ', 15, NULL, N'Khu A', N'Tang 2')
INSERT [dbo].[CAN_HO] ([ma_can_ho], [dien_tich], [ma_chu_so_huu], [khu], [tang]) VALUES (N'CH3       ', 15, N'CSH2      ', N'Khu A', N'Tang 3')
GO
INSERT [dbo].[CHU_SO_HUU] ([ma_chu_so_huu], [ho_ten], [sdt], [phai], [ngay_sinh], [cccd], [ten_dang_nhap]) VALUES (N'CSH10     ', N'Le Van A', N'923801    ', N'NU        ', CAST(N'1999-01-01' AS Date), N'52234       ', N'user9                                             ')
INSERT [dbo].[CHU_SO_HUU] ([ma_chu_so_huu], [ho_ten], [sdt], [phai], [ngay_sinh], [cccd], [ten_dang_nhap]) VALUES (N'CSH2      ', N'Nguyen Van B', N'222222    ', N'NU        ', CAST(N'1999-01-01' AS Date), N'2           ', N'user5                                             ')
INSERT [dbo].[CHU_SO_HUU] ([ma_chu_so_huu], [ho_ten], [sdt], [phai], [ngay_sinh], [cccd], [ten_dang_nhap]) VALUES (N'CSH3      ', N'11Nguyen Thi C', N'333333    ', N'NU        ', CAST(N'1999-01-01' AS Date), N'2222        ', N'user6                                             ')
GO
INSERT [dbo].[DANG_NHAP] ([ten_dang_nhap], [mat_khau], [ma_quyen]) VALUES (N'user1                                             ', N'123                                               ', N'NV        ')
INSERT [dbo].[DANG_NHAP] ([ten_dang_nhap], [mat_khau], [ma_quyen]) VALUES (N'user2                                             ', N'123                                               ', N'NV        ')
INSERT [dbo].[DANG_NHAP] ([ten_dang_nhap], [mat_khau], [ma_quyen]) VALUES (N'user3                                             ', N'123                                               ', N'NV        ')
GO
INSERT [dbo].[DICH_VU] ([ma_dich_vu], [ten_dich_vu], [vat], [don_gia], [don_vi]) VALUES (N'DV1       ', N'Gui xe', 8, 80000, N'Cai')
INSERT [dbo].[DICH_VU] ([ma_dich_vu], [ten_dich_vu], [vat], [don_gia], [don_vi]) VALUES (N'DV2       ', N'Nuoc', 8, 13000, N'Khoi')
INSERT [dbo].[DICH_VU] ([ma_dich_vu], [ten_dich_vu], [vat], [don_gia], [don_vi]) VALUES (N'DV3       ', N'Dien', 8, 4000, N'So')
GO
INSERT [dbo].[DICH_VU_CAN_HO] ([ma_dich_vu], [ma_can_ho], [so_luong], [ngay_bat_dau], [ngay_ket_thuc]) VALUES (N'DV1       ', N'CH1       ', 3, CAST(N'2024-01-01' AS Date), NULL)
INSERT [dbo].[DICH_VU_CAN_HO] ([ma_dich_vu], [ma_can_ho], [so_luong], [ngay_bat_dau], [ngay_ket_thuc]) VALUES (N'DV1       ', N'CH2       ', 2, CAST(N'2024-01-01' AS Date), NULL)
INSERT [dbo].[DICH_VU_CAN_HO] ([ma_dich_vu], [ma_can_ho], [so_luong], [ngay_bat_dau], [ngay_ket_thuc]) VALUES (N'DV1       ', N'CH3       ', 1, CAST(N'2024-01-01' AS Date), NULL)
GO
INSERT [dbo].[HOA_DON] ([ma_hoa_don], [thang], [nam], [ma_can_ho], [ma_nhan_vien], [ngay_tao], [ngay_dong_tien], [tien_thang], [tien_no]) VALUES (N'HD1       ', 7, 2024, N'CH1       ', N'NV1       ', CAST(N'2024-07-01' AS Date), NULL, 539000, 0)
INSERT [dbo].[HOA_DON] ([ma_hoa_don], [thang], [nam], [ma_can_ho], [ma_nhan_vien], [ngay_tao], [ngay_dong_tien], [tien_thang], [tien_no]) VALUES (N'HD3       ', 1, 2024, N'CH3       ', N'NV1       ', CAST(N'2024-01-01' AS Date), CAST(N'2024-01-02' AS Date), 539000, 0)
INSERT [dbo].[HOA_DON] ([ma_hoa_don], [thang], [nam], [ma_can_ho], [ma_nhan_vien], [ngay_tao], [ngay_dong_tien], [tien_thang], [tien_no]) VALUES (N'HD5       ', 4, 2024, N'CH3       ', N'NV1       ', CAST(N'2024-04-01' AS Date), NULL, 0, 0)
GO
INSERT [dbo].[NHAN_VIEN] ([ma_nhan_vien], [ho_ten], [sdt], [cccd], [ngay_sinh], [phai], [ten_dang_nhap], [ma_phong_ban]) VALUES (N'NV1       ', N'Truong Van A', N'111111    ', N'111111      ', CAST(N'1999-01-01' AS Date), N'NU', N'user1                                             ', N'PB1       ')
INSERT [dbo].[NHAN_VIEN] ([ma_nhan_vien], [ho_ten], [sdt], [cccd], [ngay_sinh], [phai], [ten_dang_nhap], [ma_phong_ban]) VALUES (N'NV2       ', N'Nguyen Van A', N'222222    ', N'222222      ', CAST(N'1999-01-01' AS Date), N'NAM', N'user2                                             ', N'PB2       ')
INSERT [dbo].[NHAN_VIEN] ([ma_nhan_vien], [ho_ten], [sdt], [cccd], [ngay_sinh], [phai], [ten_dang_nhap], [ma_phong_ban]) VALUES (N'NV3       ', N'Le Van A', N'000000    ', N'333333      ', CAST(N'1999-01-01' AS Date), N'NAM', N'user3                                             ', N'PB1       ')
GO
INSERT [dbo].[PHONG_BAN] ([ma_phong_ban], [ten_phong_ban]) VALUES (N'PB1       ', N'Phong ban 1')
INSERT [dbo].[PHONG_BAN] ([ma_phong_ban], [ten_phong_ban]) VALUES (N'PB2       ', N'Phong ban 2')
INSERT [dbo].[PHONG_BAN] ([ma_phong_ban], [ten_phong_ban]) VALUES (N'PB3       ', N'Phong ban 3')
GO
INSERT [dbo].[QUYEN] ([ma_quyen], [ten_quyen]) VALUES (N'CSH       ', N'Chu so huu')
INSERT [dbo].[QUYEN] ([ma_quyen], [ten_quyen]) VALUES (N'NV        ', N'Nhan vien')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CHU_SO_HUU]    Script Date: 7/17/2024 10:36:42 AM ******/
ALTER TABLE [dbo].[CHU_SO_HUU] ADD  CONSTRAINT [UK_CHU_SO_HUU] UNIQUE NONCLUSTERED 
(
	[cccd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CHU_SO_HUU1]    Script Date: 7/17/2024 10:36:42 AM ******/
ALTER TABLE [dbo].[CHU_SO_HUU] ADD  CONSTRAINT [UK_CHU_SO_HUU1] UNIQUE NONCLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_DICH_VU]    Script Date: 7/17/2024 10:36:42 AM ******/
ALTER TABLE [dbo].[DICH_VU] ADD  CONSTRAINT [UK_DICH_VU] UNIQUE NONCLUSTERED 
(
	[ten_dich_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_DICH_VU_CAN_HO]    Script Date: 7/17/2024 10:36:42 AM ******/
ALTER TABLE [dbo].[DICH_VU_CAN_HO] ADD  CONSTRAINT [UK_DICH_VU_CAN_HO] UNIQUE NONCLUSTERED 
(
	[ma_dich_vu] ASC,
	[ma_can_ho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_HOA_DON]    Script Date: 7/17/2024 10:36:42 AM ******/
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [UK_HOA_DON] UNIQUE NONCLUSTERED 
(
	[thang] ASC,
	[nam] ASC,
	[ma_can_ho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_NHAN_VIEN]    Script Date: 7/17/2024 10:36:42 AM ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [UK_NHAN_VIEN] UNIQUE NONCLUSTERED 
(
	[cccd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_NHAN_VIEN1]    Script Date: 7/17/2024 10:36:42 AM ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [UK_NHAN_VIEN1] UNIQUE NONCLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_PHONG_BAN]    Script Date: 7/17/2024 10:36:42 AM ******/
ALTER TABLE [dbo].[PHONG_BAN] ADD  CONSTRAINT [UK_PHONG_BAN] UNIQUE NONCLUSTERED 
(
	[ten_phong_ban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_QUYEN]    Script Date: 7/17/2024 10:36:42 AM ******/
ALTER TABLE [dbo].[QUYEN] ADD  CONSTRAINT [UK_QUYEN] UNIQUE NONCLUSTERED 
(
	[ten_quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CAN_HO]  WITH CHECK ADD  CONSTRAINT [FK_CAN_HO_CHU_SO_HUU] FOREIGN KEY([ma_chu_so_huu])
REFERENCES [dbo].[CHU_SO_HUU] ([ma_chu_so_huu])
GO
ALTER TABLE [dbo].[CAN_HO] CHECK CONSTRAINT [FK_CAN_HO_CHU_SO_HUU]
GO
ALTER TABLE [dbo].[CHU_SO_HUU]  WITH CHECK ADD  CONSTRAINT [FK_CHU_SO_HUU_DANG_NHAP] FOREIGN KEY([ten_dang_nhap])
REFERENCES [dbo].[DANG_NHAP] ([ten_dang_nhap])
GO
ALTER TABLE [dbo].[CHU_SO_HUU] CHECK CONSTRAINT [FK_CHU_SO_HUU_DANG_NHAP]
GO
ALTER TABLE [dbo].[DANG_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_DANG_NHAP_QUYEN] FOREIGN KEY([ma_quyen])
REFERENCES [dbo].[QUYEN] ([ma_quyen])
GO
ALTER TABLE [dbo].[DANG_NHAP] CHECK CONSTRAINT [FK_DANG_NHAP_QUYEN]
GO
ALTER TABLE [dbo].[DICH_VU_CAN_HO]  WITH CHECK ADD  CONSTRAINT [FK_DICH_VU_CAN_HO_CAN_HO] FOREIGN KEY([ma_can_ho])
REFERENCES [dbo].[CAN_HO] ([ma_can_ho])
GO
ALTER TABLE [dbo].[DICH_VU_CAN_HO] CHECK CONSTRAINT [FK_DICH_VU_CAN_HO_CAN_HO]
GO
ALTER TABLE [dbo].[DICH_VU_CAN_HO]  WITH CHECK ADD  CONSTRAINT [FK_DICH_VU_CAN_HO_DICH_VU] FOREIGN KEY([ma_dich_vu])
REFERENCES [dbo].[DICH_VU] ([ma_dich_vu])
GO
ALTER TABLE [dbo].[DICH_VU_CAN_HO] CHECK CONSTRAINT [FK_DICH_VU_CAN_HO_DICH_VU]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_CAN_HO] FOREIGN KEY([ma_can_ho])
REFERENCES [dbo].[CAN_HO] ([ma_can_ho])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_CAN_HO]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_NHAN_VIEN] FOREIGN KEY([ma_nhan_vien])
REFERENCES [dbo].[NHAN_VIEN] ([ma_nhan_vien])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_NHAN_VIEN]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_DANG_NHAP] FOREIGN KEY([ten_dang_nhap])
REFERENCES [dbo].[DANG_NHAP] ([ten_dang_nhap])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_DANG_NHAP]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_PHONG_BAN] FOREIGN KEY([ma_phong_ban])
REFERENCES [dbo].[PHONG_BAN] ([ma_phong_ban])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_PHONG_BAN]
GO
ALTER TABLE [dbo].[CHU_SO_HUU]  WITH CHECK ADD  CONSTRAINT [CK_CHU_SO_HUU] CHECK  (([phai]='NU' OR [phai]='NAM'))
GO
ALTER TABLE [dbo].[CHU_SO_HUU] CHECK CONSTRAINT [CK_CHU_SO_HUU]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_HOA_DON] CHECK  (([tien_thang]>=(0)))
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [CK_HOA_DON]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_HOA_DON_1] CHECK  (([tien_no]>=(0)))
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [CK_HOA_DON_1]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_HOA_DON_2] CHECK  (([thang]>=(1) AND [thang]<=(12)))
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [CK_HOA_DON_2]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_HOA_DON_3] CHECK  (([nam]>(0)))
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [CK_HOA_DON_3]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHAN_VIEN] CHECK  (([phai]='NU' OR [phai]='NAM'))
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [CK_NHAN_VIEN]
GO
