USE [nckh]
GO
/****** Object:  Trigger [dbo].[trg_generateID]    Script Date: 7/10/2024 9:01:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[trg_generateID]
ON [dbo].[HOA_DON]
FOR INSERT
AS
BEGIN
    DECLARE @currentID char(10), @newID char(10)

    -- Get the current highest ID
    SELECT TOP 1 @currentID = ma_hoa_don
    FROM HOA_DON
    ORDER BY ma_hoa_don DESC

    -- Generate the new ID
   
    
    
        SET @newID = 'HD' + RIGHT( CAST(CAST(SUBSTRING(@currentID, 3, 8) AS INT) + 1 AS VARCHAR(8)), 8)
   

    -- Update the inserted rows with the new ID
    UPDATE [dbo].[HOA_DON]
    SET ma_hoa_don = @newID
    FROM [dbo].[HOA_DON] h
    JOIN inserted i ON h.ma_hoa_don = i.ma_hoa_don
END
GO
/*Trigger ma dich vu*/
GO
/****** Object:  Trigger [dbo].[trg_generateDV]    Script Date: 7/30/2024 9:36:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[trg_generateDV]
ON [dbo].[DICH_VU]
FOR INSERT
AS
BEGIN
    DECLARE @currentID char(10), @newID char(10)

    -- Get the current highest ID
    SELECT TOP 1 @currentID = ma_dich_vu
    FROM DICH_VU
    ORDER BY ma_dich_vu DESC

    -- Generate the new ID
   
    
    
        SET @newID = 'DV' + RIGHT( CAST(CAST(SUBSTRING(@currentID, 3, 8) AS INT) + 1 AS VARCHAR(8)), 8)
   

    -- Update the inserted rows with the new ID
    UPDATE [dbo].[DICH_VU]
    SET ma_dich_vu = @newID
    FROM [dbo].[DICH_VU] dv
    JOIN inserted i ON dv.ma_dich_vu = i.ma_dich_vu
END
