USE [nckh]
GO
/****** Object:  Trigger [dbo].[trg_tinhtien]    Script Date: 7/10/2024 9:12:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER trigger [dbo].[trg_tinhtien]
on [dbo].[DICH_VU_CAN_HO]
after insert, update
as
	begin
		print ('up date something')
		update [dbo].[HOA_DON]
		set tien_thang = (
		select sum(dv.don_gia * dvch.so_luong) from DICH_VU_CAN_HO dvch
		inner join DICH_VU dv on dv.ma_dich_vu = dvch.ma_dich_vu
		inner join CAN_HO ch on ch.ma_can_ho = dvch.ma_can_ho)
	end;