USE [nckh]
GO
/****** Object:  UserDefinedFunction [dbo].[func_nextID]    Script Date: 8/29/2024 11:34:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[func_nextID](@lastID char(10), @prefix char(2),@size int)
returns char(10)
as
begin
	if(@lastID='')
		set @lastID = @prefix+REPLICATE(0,@size-LEN(@prefix))
	declare @nextID char(10), @num_nextID int
	set @lastID=LTRIM(RTRIM(@lastID))
	set @num_nextID=REPLACE(@lastID,@prefix,'')+1
	set @size=@size-LEN(@prefix)
	set @nextID=@prefix+REPLICATE(0, @size-LEN(@prefix))
	set @nextID=@prefix+RIGHT(REPLICATE(0,@size)+CONVERT(VARCHAR(MAX),@num_nextID),@size)
	return @nextID
end
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[trg_generateIDCSH]
ON [dbo].[CHU_SO_HUU]
FOR INSERT
AS
BEGIN
    --DECLARE @currentID char(10), @newID char(10)

    -- Get the current highest ID
    --SELECT TOP 1 @currentID = ma_hoa_don
    --FROM HOA_DON
    --ORDER BY ma_hoa_don DESC

    -- Generate the new ID
   
    
    
        --SET @newID = 'HD' + RIGHT( CAST(CAST(SUBSTRING(@currentID, 3, 8) AS INT) + 1 AS VARCHAR(8)), 8)
   

    -- Update the inserted rows with the new ID
    --UPDATE [dbo].[HOA_DON]
    --SET ma_hoa_don = @newID
    --FROM [dbo].[HOA_DON] h
    --JOIN inserted i ON h.ma_hoa_don = i.ma_hoa_don
	declare @lastID char(10)
	 set @lastID=(select top 1 ma_chu_so_huu from CHU_SO_HUU order by ma_chu_so_huu desc)
	 update CHU_SO_HUU set ma_chu_so_huu=dbo.func_nextID(@lastID,'CSH',10) where ma_chu_so_huu=''
END
GO
ALTER TABLE [dbo].[CHU_SO_HUU] ENABLE TRIGGER [trg_generateIDCSH]
GO
/****** Object:  Trigger [dbo].[trg_generateDV]    Script Date: 8/29/2024 11:34:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_generateDV]
ON [dbo].[DICH_VU]
FOR INSERT
AS
BEGIN

    
	--DECLARE @currentID char(10), @newID char(10)

 --   -- Get the current highest ID
 --   SELECT TOP 1 @currentID = ma_dich_vu
 --   FROM DICH_VU 
    

 --   -- Generate the new ID
 --       SET @newID = 'DV' + RIGHT( CAST(CAST(SUBSTRING(@currentID, 3, 😎 AS INT) + 1 AS VARCHAR(8)), 😎
   

 --   -- Update the inserted rows with the new ID
 --   UPDATE [dbo].[DICH_VU]
 --   SET ma_dich_vu = @newID
 --   FROM [dbo].[DICH_VU] dv
 --   JOIN inserted i ON dv.ma_dich_vu = i.ma_dich_vu
 declare @lastID char(10)
 set @lastID=(select top 1 ma_dich_vu from DICH_VU order by ma_dich_vu desc)
 update DICH_VU set ma_dich_vu=dbo.func_nextID(@lastID,'DV',10) where ma_dich_vu=''
END
GO
ALTER TABLE [dbo].[DICH_VU] ENABLE TRIGGER [trg_generateDV]
GO
/****** Object:  Trigger [dbo].[trg_tinhtien]    Script Date: 8/29/2024 11:34:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[trg_tinhtien]
on [dbo].[DICH_VU_CAN_HO]
after insert, update
as
	begin
		
		update [dbo].[HOA_DON]
		set tien_thang = (
		select sum(dv.don_gia * dvch.so_luong) from DICH_VU_CAN_HO dvch
		inner join DICH_VU dv on dv.ma_dich_vu = dvch.ma_dich_vu
		inner join CAN_HO ch on ch.ma_can_ho = dvch.ma_can_ho)
	end;
GO
ALTER TABLE [dbo].[DICH_VU_CAN_HO] ENABLE TRIGGER [trg_tinhtien]
GO
/****** Object:  Trigger [dbo].[trg_generateIDDHN]    Script Date: 8/29/2024 11:34:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[trg_generateIDDHN]
ON [dbo].[DONG_HO_NUOC]
FOR INSERT
AS
BEGIN

	declare @lastID char(10)
	 set @lastID=(select top 1 ma_dong_ho from DONG_HO_NUOC order by ma_dong_ho desc)
	 update DONG_HO_NUOC set ma_dong_ho=dbo.func_nextID(@lastID,'DH',10) where ma_dong_ho=''
END
GO
ALTER TABLE [dbo].[DONG_HO_NUOC] ENABLE TRIGGER [trg_generateIDDHN]
GO
/****** Object:  Trigger [dbo].[trg_generateGN]    Script Date: 8/29/2024 11:34:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[trg_generateGN]
ON [dbo].[GHI_NUOC]
FOR INSERT
AS
BEGIN
    DECLARE @currentID INT, @newID INT, @lastIndex INT, @newIndex INT

    -- Get the current highest ID
 --   SELECT TOP 1 @lastIndex = a.chi_so_moi
 --   FROM GHI_NUOC a
	--INNER JOIN inserted i on a.ma_dong_ho = i.ma_dong_ho
	--WHERE i.ma_dong_ho IS NOT NULL  
 --   ORDER BY a.ma_ghi DESC

	SELECT @currentID = COUNT(ma_ghi)
    FROM GHI_NUOC

    -- Generate the new ID
   
    
    
        SET @newID = @currentID + 1;
		--SET @newIndex = @lastIndex;

    -- Update the inserted rows with the new ID
    UPDATE [dbo].[GHI_NUOC]
    SET ma_ghi = @newID
    FROM [dbo].[GHI_NUOC] a
    JOIN inserted i ON a.ma_ghi = i.ma_ghi
END
GO
ALTER TABLE [dbo].[GHI_NUOC] ENABLE TRIGGER [trg_generateGN]
GO
/****** Object:  Trigger [dbo].[trg_generateID]    Script Date: 8/29/2024 11:34:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[trg_generateID]
ON [dbo].[HOA_DON]
FOR INSERT
AS
BEGIN
    --DECLARE @currentID char(10), @newID char(10)

    -- Get the current highest ID
    --SELECT TOP 1 @currentID = ma_hoa_don
    --FROM HOA_DON
    --ORDER BY ma_hoa_don DESC

    -- Generate the new ID
   
    
    
        --SET @newID = 'HD' + RIGHT( CAST(CAST(SUBSTRING(@currentID, 3, 8) AS INT) + 1 AS VARCHAR(8)), 8)
   

    -- Update the inserted rows with the new ID
    --UPDATE [dbo].[HOA_DON]
    --SET ma_hoa_don = @newID
    --FROM [dbo].[HOA_DON] h
    --JOIN inserted i ON h.ma_hoa_don = i.ma_hoa_don
	declare @lastID char(10)
	 set @lastID=(select top 1 ma_hoa_don from HOA_DON order by ma_hoa_don desc)
	 update HOA_DON set ma_hoa_don=dbo.func_nextID(@lastID,'HD',10) where ma_hoa_don=''
END
GO
ALTER TABLE [dbo].[HOA_DON] ENABLE TRIGGER [trg_generateID]
GO
/****** Object:  Trigger [dbo].[trg_generateIDNV]    Script Date: 8/29/2024 11:34:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[trg_generateIDNV]
ON [dbo].[NHAN_VIEN]
FOR INSERT
AS
BEGIN
    --DECLARE @currentID char(10), @newID char(10)

    -- Get the current highest ID
    --SELECT TOP 1 @currentID = ma_hoa_don
    --FROM HOA_DON
    --ORDER BY ma_hoa_don DESC

    -- Generate the new ID
   
    
    
        --SET @newID = 'HD' + RIGHT( CAST(CAST(SUBSTRING(@currentID, 3, 8) AS INT) + 1 AS VARCHAR(8)), 8)
   

    -- Update the inserted rows with the new ID
    --UPDATE [dbo].[HOA_DON]
    --SET ma_hoa_don = @newID
    --FROM [dbo].[HOA_DON] h
    --JOIN inserted i ON h.ma_hoa_don = i.ma_hoa_don
	declare @lastID char(10)
	 set @lastID=(select top 1 ma_nhan_vien from NHAN_VIEN order by ma_nhan_vien desc)
	 update NHAN_VIEN set ma_nhan_vien=dbo.func_nextID(@lastID,'NV',10) where ma_nhan_vien=''
END
GO
ALTER TABLE [dbo].[NHAN_VIEN] ENABLE TRIGGER [trg_generateIDNV]
GO
USE [master]
GO
